<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store" >
  <div id="banner" >
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns" >
    <div id="side" >
      <%= link_to 'Manage Product', products_path %><br />
      <%= link_to 'Store', store_path %><br />
      <%= link_to 'Shopping Cart', carts_path %><br />
      <a href="http://www..../contact" >Contact</a><br />
    </div>
    <div id="main" >
      <%= yield %>
    </div>
  </div>
</body>
</html>
